/node_modules
/public/hot
/public/storage
/public/portal
/public/web
/public/css
/public/js
/public/build
/storage/*.key
/vendor
/.idea
/logs
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.idea
