 <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:10px;" ng-if="value.bet_kind == 'normal'">
 	<tbody>
 		<tr><td colspan="2" class="TextStyle01">{{::value.game_type}} / <span style="text-transform: uppercase;">{{::value.bet_type}}</span></td></tr>
 		<tr>
 			<td colspan="0" class="FavTeamClass" title="">{{::value.bet_name}}</td>
 			<td align="right"><span title="Score Map" class="iconOdds scoreMap"></span>
 			</td>
 		</tr>
 		<tr>
 			<td nowrap="">
 				<div style="overflow: hidden; text-overflow: ellipsis; white-space:nowrap; width: 110px; " title="-121">
 				<span class="TextStyle03">{{::value.bet_odd}}</span>
 				<span class="TextStyle01"> [{{::value.ss}}] @</span>
 				<span class="UdrDogOddsClass" ng-class="{'FavOddsClass': value.bet_value < 0}">{{::value.bet_value | number:2}}</span>
 			</div>
 			</td><td align="right" class="TextStyle01"><b>{{value.bet_amount | numberPretty:2}}</b></td>
 		</tr>
 		<tr>
         <td ng-if="!value.number_code" colspan="2" class="TextStyle04">{{::value.home}} -vs- {{::value.away}}</td>
         <td ng-if="value.number_code" colspan="2" class="TextStyle04">No. {{::value.number_code}}</td>
      </tr>
 		<tr>
 			<td colspan="2" class="TextStyle06"><div class="left">ID:{{::value.id}}</div><div class="right text-ellipsis" style="width:70px; text-align:right; line-height:inherit;" title="P">{{::value.status_name}}</div>
 			</td>
 		</tr>
 	</tbody>
 </table>

 <div ng-if="value.bet_kind == 'group'">
   <div class="TextStyle01">Cá cược tổng hợp</div>
   <div class="multiple" ng-class="{'line-through': bet.status == 'cancel'}" ng-repeat="(key, bet) in value.bets">
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
         <tbody>
            <tr>
               <td class="TextStyle01 ">Bóng đá / {{::bet.bet_type}}</td>
            </tr>
            <tr>
               <td class="TextStyle02 ">{{::bet.bet_name}}</td>
            </tr>
            <tr>
               <td>
               	<span class="TextStyle03 "></span>
               	<span class="TextStyle01 ">{{::bet.bet_odd}}</span>
               	<span class="TextStyle03">@</span>
                <span class="UdrDogOddsClass" ng-class="{'FavOddsClass': bet.bet_value < 0}">{{::bet.bet_value | number:2}}</span>
               </td>
            </tr>
            <tr>
               <td class="TextStyle04 ">{{::bet.home}} -vs- {{::bet.away}}</td>
            </tr>
         </tbody>
      </table>
   </div>
   <!-- <div class="multiple">
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
         <tbody>
            <tr>
               <td class="TextStyle01 ">Bóng đá / Tài/Xỉu</td>
            </tr>
            <tr>
               <td class="TextStyle02 ">Xỉu</td>
            </tr>
            <tr>
               <td><span class="TextStyle03 "></span><span class="TextStyle01 ">
                  2.5</span><span class="TextStyle03">@</span><span class="UdrDogOddsClass ">1.80</span>
               </td>
            </tr>
            <tr>
               <td class="TextStyle04 ">Lorca-vs- Granada CF</td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="multiple">
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
         <tbody>
            <tr>
               <td class="TextStyle01 ">Bóng đá / Handicap</td>
            </tr>
            <tr>
               <td class="TextStyle02 ">Osasuna</td>
            </tr>
            <tr>
               <td><span class="TextStyle03 "></span><span class="TextStyle01 ">
                  -0.25</span><span class="TextStyle03">@</span><span class="UdrDogOddsClass ">1.88</span>
               </td>
            </tr>
            <tr>
               <td class="TextStyle04 ">Osasuna-vs- Tenerife</td>
            </tr>
         </tbody>
      </table>
   </div> -->
   <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tbody>
         <tr>
            <td class="TextStyle01"><b>Rate:  {{::value.rate}}</b></td>
            <td align="right" class="TextStyle01"><b> {{::value.bet_amount | numberPretty:2}}</b></td>
         </tr>
         <tr>
            <td colspan="2" class="TextStyle06">
               <div class="left">ID:{{::value.id}}</div>
               <div class="right text-ellipsis" style="width:70px; text-align:right; line-height:inherit;" title="Running">{{::value.status_name}}</div>
            </td>
         </tr>
      </tbody>
   </table>
</div>