.titleBar{
    width: 780px;
}

.tabtitle{
    text-transform: uppercase;
}

.titleBar .title {
    float: left;
    color: #365382;
    font-size: 15px;
    font-weight: bold;
    background-image: url(/assets/web/images/layout/icon_titleBar.png?v=20121222001);
    background-repeat: no-repeat;
    background-position: left 50%;
    padding-left: 22px;
    /* text-shadow: -1px -1px 0 #FFF; */
}

.line-through{
    text-decoration: line-through;
}